<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Device info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <br />

  <ion-button (click)="refresh()" expand="block">
    <ion-icon slot="icon-only" name="refresh"></ion-icon>
    &nbsp;Refresh
  </ion-button>

  <ion-item>
    <ion-label>ID</ion-label>
    <ion-textarea
      [value]="deviceId | json"
      readonly="true"
      autoGrow="true"
    ></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Info</ion-label>
    <ion-textarea
      [value]="deviceInfo | json"
      readonly="true"
      autoGrow="true"
    ></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Battery info</ion-label>
    <ion-textarea
      [value]="batteryInfo | json"
      readonly="true"
      autoGrow="true"
    ></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Language tag</ion-label>
    <ion-textarea
      [value]="languageTag | json"
      readonly="true"
      autoGrow="true"
    ></ion-textarea>
  </ion-item>
</ion-content>
