<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br />
  <ion-button (click)="openCamera()" expand="block">
    <ion-icon slot="icon-only" name="camera"></ion-icon>
    &nbsp;Camera
  </ion-button>
  <br />
  <ion-button (click)="deletePhotos()" expand="block">
    <ion-icon slot="icon-only" name="trash"></ion-icon>
    &nbsp;Delete
  </ion-button>

  <ion-grid>
    <strong>Gallery</strong>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos">
        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
